<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=NO">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <title>Elemental 4</title>
</head>
<body>
    <div>
        <h1>Elemental is down</h1>
        <p>
            The database server, which holds all elements and combinations, is currently
            down. The admins are trying their best to restore the database server. 
        </p>
        <p>
            <strong>Please check back in about an hour.</strong>
        </p>
    </div>
</body>
</html>