<!-- Raw Game HTML -->
<div id="total-counter"></div>
<div id="element-container"></div>
<div id="suggest-elem-container">
    <div id="suggest-elem">
        <h1>What should these create?</h1>
        <div class="elements-to-combine">
            <div class="element purple">Energy</div>
            <i class="material-icons" style="font-size:48px;transform: translateY(-6px)">add</i>
            <div class="element purple">Energy</div>
        </div>
        <div class="sperator"></div>
        <div class="colorpickerarea">
            <!-- All Colors, original ordering -->
            <div class="color maroon"></div>
            <div class="color red"></div>
            <div class="color orange"></div>
            <div class="color brown"></div>
            <div class="color tan"></div>
            <div class="color yellow"></div>
            <div class="color olive"></div>
            <div class="color lime"></div>
            <div class="color green"></div>
            <div class="color sky"></div>
            <div class="color blue"></div>
            <div class="color navy"></div>
            <div class="color lavender"></div>
            <div class="color purple"></div>
            <div class="color white"></div>
            <div class="color silver"></div>
            <div class="color gray"></div>
            <div class="color black"></div>
            <div class="color magenta"></div>
            <div class="color pink"></div>
        </div>
        <div class="sperator"></div>
        <div class="suggestelement white" contenteditable="true" spellcheck="false">Your Element</div>
        <div class="suggestion-others">
            <div class="toptitle">Others' Suggestions</div>
            <div class="items">
                <div class="item non-visible">
                    <div id=suggestother1 class="element blue">Element</div>
                    <i class="downvote mdc-icon-button material-icons">thumb_down</i>
                </div>
                <div class="item non-visible">
                    <div id=suggestother2 class="element blue">Element</div>
                    <i class="downvote mdc-icon-button material-icons">thumb_down</i>
                </div>
                <div class="item non-visible">
                    <div id=suggestother3 class="element blue" style="margin-right:0">Element</div>
                    <i class="downvote mdc-icon-button material-icons">thumb_down</i>
                </div>
            </div>
        </div>
        <button class="mdc-button mdc-button--raised" id="submit-your-element">SUGGEST!</button>
    </div>
</div>
<div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
    <div class="mdc-snackbar__text"></div>
    <div class="mdc-snackbar__action-wrapper">
        <button type="button" class="mdc-snackbar__action-button"></button>
    </div>
</div>
<aside id="loader" class="go-away">
    <svg class="mdc-circular-progress" viewBox="25 25 50 50">
        <circle class="mdc-circular-progress__path" cx="50" cy="50" r="20" fill="none" stroke-width="5"
            stroke-miterlimit="10" />
    </svg>
    <p class="lost-connection">
        You have lost connection. Trying to reconnect.
    </p>
</aside>

<div class="close mdc-icon-button material-icons">close</div>

<div class="settings-btn mdc-icon-button material-icons">settings</div>

<div class="element-info showtooltip mdc-icon-button material-icons">info</div>
<div class="element-info-tooltip">Drop an element here to see its information</div>
<div class="elem-info-panel awayified">
    <h1 id="element-info_title" style=margin-bottom:0.25em>Element #0</h1>
    <p id="element-info_note" style=margin-bottom:2em></p>
    <p id="element-info_date">Created at Sunday, January 1st, 2018</p>
    <div class="element" id="element-info_element">Your Element</div>
</div>

<div class="settings awayified">
    <h1 style=margin-bottom:0.25em>Settings</h1>
    <p style="margin-top:0;">
        Change the game a bit.
    </p>
    <h3>Sound Packs</h3>
    <p>
        Customize the game's audio.
    </p>
    <div id="sound-pack-menu" class="mdc-menu-surface--anchor" style="display: inline-block;">
        <button class="mdc-button mdc-button--raised add-ripple" id="sound-pack-menu-btn">Sound Pack: {}</button>
        <div id="sound-pack-menu-menu" style="width:100%;" class="mdc-menu mdc-menu-surface" tabindex="-1">
            <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" id="audio-packs-mnt"></ul>
        </div>
    </div>
    <button class="mdc-button mdc-button--raised add-ripple" id="sound-pack-menu-add">Add Custom</button>

    <h3>Themes</h3>
    <p>
        Customize the looks of the game with a theme.
    </p>

    <h3>Danger Zone</h3>
    <button class="mdc-button resetgame">Reset All Game Progress</button>
</div>